/* write your CSS here */
body{
	height: 100%;
	margin: 0;

}
html{
	height: 100%;
}
	
.card-header{
	display: flex;
	flex-direction: column;
}
.img{
	background-image: url("images/book.png");
	height: 380px;
	width: 356px;
    min-width: 255px;
	background-position: center;
	background-size: cover;	

}

.navbar h5{
	margin-bottom: 0;
}
.navbar p{
	color: black
}
section	{
	display: flex;
	justify-content: center;
}
.blockquote{
 	display: flex;
 	margin: 30px;
 	justify-content: center;
 	width: 75%;	
 	padding: 15px;
 	border: 1px solid #ddd9d9;
 	min-width: 550px;


}
.data{
	width: 100%;
	padding-left: 25px;
	min-width: 280px;
}
.logo{
	height: 70px;
}
.nav-div{
	padding-left: 25px;;
}
.head{
	color: #2FA4E7
}
.detail{
	color: black;
	font-size: 20px;

}
.rate{
	display: flex;
}
.rate span{
	display: flex;

}
.table-primary{
	text-align: center;
}

span .text{
	width: 70px;
	height: 42px;
	border: 1px solid #d2c9c9;
	text-align: center;
}
.img-1{
	background-image: url("images/img-1.jpg");
	height: 380px;
	width: 356px;
    min-width: 255px;
	background-position: center;
	background-size: cover;	

}
.price{
	color: #68ca68;
	font-weight: bold;
	padding-left: 5px;
}
#price{
	color: black;
	font-weight: bold;
}
.btn{
	height: 42px;
	padding: 10px;
}
.table{
	width: 75%;
	margin: 0 auto;
}
@media only screen and (max-width: 750px) {
    .table {
        width: 550px;
        
    }
}
@media only screen and (max-width: 600px) {
    .rate {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 550px) {
    .table {
        width: 550px;
        
    }
    .navbar{
    	width: 550px;
    }
}
